
.nav-button {
  background-color: var(--blue);
  color: white;
  padding: 0.8em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  border-radius: 5px;
}

.missing {
  background-color: #525252;
}

.nav-button:hover {
  background-color: var(--blue-hover);
}