
.link {
  text-decoration: none;
  color: #1D1D1B;
  font-weight: normal;
  position: relative;
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--yellow);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.thicker-link::after {
  height: 5px;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
