
.button {
  background: var(--subject-color, var(--blue));
  color: white;
  padding: 0.7em 1.3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  border: none;
  opacity: 0.85;
  font-family: inherit;
  font-size: 16px;
}

.button--disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}


.missing {
  background-color: #525252;
}

.button:not(.button--disabled):hover {
  background: var(--subject-color, var(--blue));
  cursor: pointer;
  opacity: 1;
}