
.button {
  background: var(--subject-color, var(--blue));
  color: white;
  padding: 0.7em 1.3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  border: none;
  opacity: 0.85;
  font-family: inherit;
  font-size: 16px;
}

.missing {
  background-color: #525252;
}

.button:hover {
  background: var(--subject-color, var(--blue));
  cursor: pointer;
  opacity: 1;
}