header {
  position: sticky;
  top: 0;
  z-index: 1000;

  height: 3.5em;
  background-color: #121212;
  color: white;
  padding: 0 10%;
  width: 80%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link-container {
  padding: 0 1em;
  height: 100%;
  width: fit-content;
  display: block;
}

.header_link {
  color: white;
  opacity: 70%;
  transition: opacity 0.1s;
}

.header_link:hover {
  opacity: 100%;
}

.header_logo {
  width: auto;
  height: 100%;
}

.burger_button {
  background-color: #4c4c4c;
  color: white;
  padding: 0.5em 0.8em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  border-radius: 5px;
  border: none;
}

.burger_menu {
  position: absolute;
  top: 3.5em;
  right: 10%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  gap: 0.2em;
  border-radius: 0 0 15px 15px;

  /* Matte glass effect */
  background: linear-gradient(to bottom, rgba(30,30,30,0.8), rgba(30,30,30,0.9));
  backdrop-filter: blur(10px); /* soft blur behind */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
}

@media (max-width: 1100px) {
  .header_nav {
    display: none;
  }
  .burger_button {
    display: block;
  }
}

@media (min-width: 1101px) {
  nav {
    display: block;
  }
  .burger_button {
    display: none;
  }
}