

.sub {
  padding: 0;
  margin-left: auto;
  margin-bottom: 2em;
  margin-right: auto;
  max-width: 90%;
}

.polyhead {
  margin: 0;
  background-color: #ffee99;
  display: inline-block;

}

.polygraphy {
  background-color: #ffcc00;
}

.subtlepoly {
  margin-top: 0.8em;
  background-color: #ffdf43;
}

.dammit {
  padding: 0.5em;
  margin-left: 0.2em;
  font-size: 1.1em;
}


bold {
  font-weight: bold;
}

h4 {
  padding: 1em;
  font-size: 1.5em;
}

h5 {
  padding: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 1em;
  display: inline-block;
  margin: 0;
}

h6 {
  font-size: 1em;
  margin: 0;
  margin-top: 0.5em;
}

ol {
  padding-left: 0.8em;
}

h1 {
  margin-top: 2%;
  padding: 0;
  border: 0;
  margin-bottom: 0em;
  font-weight: normal;
  font-size: 3em;
  text-align: left;
  color: #38a4c8;
  background-color: #ffffff;
}

.subpic {
  width: 100%;
  padding: 0;
  background-repeat: no-repeat;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
}

.tiny {
  margin-top: 1.3em;
  margin-left: 15%;
  margin-right: auto;
  max-width: 70%;
  width: 12em;
}


h3 {
  margin-top: 2%;
  margin-bottom: 0px;
  padding: 0;
  border: 0;

  font-weight: normal;
  font-size: 1.5em;
  text-align: left;
  color: #38a4c8;
  background-color: #ffffff;

}

.topnav {
  padding: 1em;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background: transparent;

}

.topnav a {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: #ffcc00;
  color: black;
}

.topnav a.active:hover {
  color: black;
}

.topnav a:hover {
  color: #ffcc00;
}





.tooltip {
  position: relative;
  color: #DF0814 !important;
  display: inline-block;
}


.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;

}

big {
  font-size: larger;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

