@font-face {
  font-family: 'CustomFont';
  font-style: normal;
  font-weight: normal;
  src: url("/src/assets/fonts/font.woff") format("woff");
}

h2 {
  margin-top: 0;
  margin-bottom: 1.8em;
  padding: 0;
  border: 0;
  font-size: 1.5em;
  text-align: left;
  color: #38a4c8;
  background-color: #ffffff;
  font-weight: bolder;
}

p {
  padding: 0;
  border: 0;
  font-size: 1em;
  color: #1D1D1B;
}

strong {
  color: var(--blue);
  font-weight: bolder;
}

.thick {
  font-weight: 900;
}
