footer {
  padding: 1em 1.5em;
  width: 100%;
  bottom: 0;
  background: #121212;
  color: rgba(255, 255, 255, 0.75);
  box-sizing: border-box;
  text-align: center;
  font-size: 0.9em;
  letter-spacing: 0.02em;
}

footer .link {
  color: rgba(255, 255, 255, 0.75);
  margin: 0 1.5em;
  text-decoration: underline dotted rgba(255, 255, 255, 0.3);
  text-underline-offset: 3px;
}

@media (hover: hover) {
  footer .link:hover {
    color: var(--white);
  }
}

footer .link::after {
  background-color: rgba(255, 255, 255, 0.4);
}
