.pantone {
  text-decoration: none;
  width: 11.5em;
  height: 17em;
  background: #f3f3f3;
  border-radius: 5px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;

  transform-style: preserve-3d;
  transition: 0.3s ease;
  will-change: transform;
}

.pantone:hover {
  box-shadow: 25px 25px 40px rgba(0, 0, 0, 0.45),
  0 0 30px rgba(168, 168, 168, 0.15);
  scale: 1;
}

.pantone__color-block {
  border-radius: 4px 4px 0 0;
  width: 100%;
  height: 68%;
  flex-grow: 0;
}

.pantone__text-block {
  padding: 0.6em;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 0 0 4px 4px;
  text-decoration: none;
  gap: 5px;
  display: flex;
  color: black;
}

.pantone__text__headline {
  display: flex;
  align-items: flex-start;
}

.pantone__text__headline--name {
  font-family: "Big John", sans-serif;
}

.pantone__text--mark {
  font-weight: lighter;
  font-size: 12px;
}

.pantone__text--description {
  color: black;
  font-weight: lighter;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pantone--sub {
  width: 9em;
  height: 12em;
  transition: 0.3s;
}

.pantone--sub .pantone__text-block {
  padding: 0.3em 0.4em;
  font-size: 14px;
}

.pantone--sub .pantone__text--description {
  font-size: 10px;
}

.pantone--sub .pantone__color-block {
  opacity: 0.9;
  transition: 0.3s;
}

.pantone--sub:hover .pantone__color-block {
  opacity: 1;
}